.outerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  padding: 36px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px gray;
  color: gray;
}

.outerBox h2 {
  font-weight: 600;
  margin-top: 5px;
}

.imageUplodeBox {
  border: 2px dashed #2d6395;
  padding: 35px 60px;
  position: relative;
}

.imageLogoAndText p {
  margin-bottom: 0px;
}

.imageUploadInput {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
